<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>USER-LOGIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body class="bodybg">
            
    <div id="topbar">
        <img id="logo" src="static/images/taxi.jpg">
            
        <div id="sign-in-div" class="topbar-section">
            <img id="signin-image" src="static/images/signin.jpg">
                    
            <a href="userlogin.html"><span id="signintext">User Sign in</span></a>
        </div>
                
        <div id="sign-in-div" class="topbar-section">
            <img id="signin-image" src="static/images/signin.jpg">
                    
            <a href="driverlogin.html"><span id="signintext">Driver Sign in</span></a>
        </div>
                
        <div id="sign-in-div" class="topbar-section">
            <img id="signin-image" src="static/images/signin.jpg">
                    
            <a href="adminlogin.html"><span id="signintext">Admin Sign in</span></a>
        </div>
            
    </div>
    
    <div class="clear"></div>
            
        <div id="menubar-container">
            
        <div id="menubar">
            
            <h1>RIDE-MY-WAY</h1>
            
        </div>
    
    </div>
        
    <div class="clear"></div>
        
    <div id="menubar2-container">
        
        <div id="menubar2">
            
            <a href="index.html"> Home </a>
          
        </div>

    </div>
   
    <div class="clear"></div>
    
        <div id="page-container">
            

            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/Fort_JesusMombasa.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to Fort Jesus</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Chrispinus</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/masaimara.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to Masai Mara</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Micheal</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
           


                
            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/karura.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to Karura Forest</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Musila</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/14falls.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to 14 falls</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Onesmus</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
           
            
            
               
            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/Fort_JesusMombasa.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to Fort Jesus</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Chrispinus</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/masaimara.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to Masai Mara</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Micheal</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    


          
            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/karura.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to Karura Forest</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Musila</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/14falls.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to 14 falls</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Onesmus</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
     
            
            
            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/Fort_JesusMombasa.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to Fort Jesus</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Chrispinus</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/masaimara.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to Masai Mara</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Micheal</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        


                
            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/karura.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to Karura Forest</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Musila</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="feature">
                <div class="wrapper">
                    <div class="tripfeature">
                        <a class="wrapper" href="userrides.html" style="background-image:url('static/images/14falls.jpg');">           
                            <div class="tripview">
                                <span class="featured">REQUEST</span>
                                <div class="tripdescription">
                                    <div><p class="triptitle"> Trip to 14 falls</p></div>
                                    <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Onesmus</p></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
           
            
            
               
        <div class="feature">
            <div class="wrapper">
                <div class="tripfeature">
                    <a class="wrapper" href="userrides.html" style="background-image:url('static/images/Fort_JesusMombasa.jpg');">           
                        <div class="tripview">
                            <span class="featured">REQUEST</span>
                            <div class="tripdescription">
                                <div><p class="triptitle"> Trip to Fort Jesus</p></div>
                                <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Chrispinus</p></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="wrapper">
                <div class="tripfeature">
                    <a class="wrapper" href="userrides.html" style="background-image:url('static/images/masaimara.jpg');">           
                        <div class="tripview">
                            <span class="featured">REQUEST</span>
                            <div class="tripdescription">
                                <div><p class="triptitle"> Trip to Masai Mara</p></div>
                                <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Micheal</p></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    


          
        <div class="feature">
            <div class="wrapper">
                <div class="tripfeature">
                    <a class="wrapper" href="userrides.html" style="background-image:url('static/images/karura.jpg');">           
                        <div class="tripview">
                            <span class="featured">REQUEST</span>
                            <div class="tripdescription">
                                <div><p class="triptitle"> Trip to Karura Forest</p></div>
                                <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Musila</p></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="feature">
            <div class="wrapper">
                <div class="tripfeature">
                    <a class="wrapper" href="userrides.html" style="background-image:url('static/images/14falls.jpg');">           
                        <div class="tripview">
                            <span class="featured">REQUEST</span>
                            <div class="tripdescription">
                                <div><p class="triptitle"> Trip to 14 falls</p></div>
                                <div class="triptime"><p><img id="clock" src="static/images/clock.jpg"> <span id="date"> Departure: Monday 2000HRS </span> Driver: Onesmus</p></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
